<!DOCTYPE html>
<html>
<head>
  <title>
  <% if content_for(:title) %>
    <%= yield(:title) %> - Juice Box
  <% elsif @cms_page %>
    <%= @cms_page.label %> - Juice Box
  <% else %>
     Juice Box
  <% end %>
</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=265957720223760";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container">
	
	<ul class="nav nav-tabs">
		<li<%= raw " class=\"active\"" if request.fullpath == "/"  %>><a href="/">Home</a></li>
		<li<%= raw " class=\"active\"" if request.fullpath.start_with?('/bio') %>><a href="/bio">Bio</a></li>
		<li<%= raw " class=\"active\"" if request.fullpath.start_with?('/media') %>><a href="/media">Media</a></li>
		<li<%= raw " class=\"active\"" if request.fullpath.start_with?('/events') %>><a href="/events">Gigs</a></li>
		<li<%= raw " class=\"active\"" if request.fullpath.start_with?('/contact') %>><a href="/contact">Contact</a></li>
		<li<%= raw " class=\"active\"" if request.fullpath.start_with?('/songs') %>><a href="/songs">Songs</a></li>
		<li<%= raw " class=\"active\"" if request.fullpath.start_with?('/blog') %>><a href="/blog">Blog</a></li>
	</ul>
		
	
	<div class="row-fluid">
		<div class="span2">
			<%= image_tag "logo.jpg", :id => 'logo', :class => 'img-responsive' %>
		</div>
		<div class="span7">
			<div class="fb-like" data-href="http://www.facebook.com/rockyourjuicebox" data-layout="button" data-action="like" data-show-faces="true" data-share="true">
			</div>

			<%= yield %>

		</div>
		<div class="span3">
			<h2>Fan Pics</h2>
			Alley / Gutter. Maybe a new pic each time. <br />
			<%= image_tag "squeeze.jpg",  :class => 'img-responsive img-rounded' %>
		</div>
	</div>
		
	

</div>


</body>
</html>
