<!DOCTYPE html>
<html>
<head>
  <title>Juice Box - CT's sexiest party and or cover band</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="container">
	
	<ul class="nav nav-tabs">
		<li><a href="/">Home</a></li>
		<li><a href="/bio">Bio</a></li>
		<li><a href="/media">Media</a></li>
		<li><a href="/gigs">Gigs</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/songs">Songs</a></li>
	</ul>
		
	
	<div class="row">
		<div class="span3">
			<%= image_tag "logo.jpg", :id => 'logo' %>
		</div>
		<div class="span9">
			<div class="fb-like" data-href="https://www.facebook.com/rockYourJuiceBox" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
	</div>
		
	<div class="row">
		<div class="span12">	
			<%= yield %>
		</div>
	</div>

</div>


</body>
</html>
